{% extends 'registration/base.html' %}
{% block title %}signup{% endblock %}
{% block body %}
<div class="registration-wrapper">
    <div class="registration-container">
        <img src="{{ url_for('static', filename='img/registration.png') }}" class="registration-main-pic" alt="registration">

        <div class="registration-form-wrapper">
            <div class="registration-logo">
                <img src="{{ url_for('static', filename='img/plaudern-logo.png') }}" alt="logo">
            </div>

            <form method="POST" action="{{ url_for('signup') }}" class="registration-form signup">
                {{ form.hidden_tag() }}  {# これによってCSRFトークンが自動的に含まれます #}

                <h1 class="registration-title">HI THERE!</h1>

                <div>
                    <label for="name">Name</label>
                    {{ form.name(class="form-control", placeholder="ユーザー名を入力してください") }}
                    {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div>
                    <label for="email">Email</label>
                    {{ form.email(class="form-control", placeholder="メールアドレスを入力してください") }}
                    {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div>
                    <label for="password1">Password</label>
                    {{ form.password1(class="form-control", placeholder="パスワードを入力してください") }}
                    {% if form.password1.errors %}
                        <ul class="errors">
                            {% for error in form.password1.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div>
                    <label for="password2">Password Confirmation</label>
                    {{ form.password2(class="form-control", placeholder="パスワードを再入力してください") }}
                    {% if form.password2.errors %}
                        <ul class="errors">
                            {% for error in form.password2.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="registration-button-container">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for category, message in messages %}
                                    <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}

                    <button type="submit" class="registration-button pink">SIGN UP</button>
                    <a href="{{ url_for('login') }}" class="switch-register-mode">ログインする</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}